{% extends "base.html" %}
{% block body %}

<form class="form-control" action="" method="post">
    <input class="form-control" placeholder="username" name="username" type="text">
    <input class="form-control" placeholder="password" name="password" type="password">
    <input class="form-control" placeholder="confirm_password" name="confirm_password" type="password">
    <input class="form-control" placeholder="full_name" name="full_name" type="text">
    <button hx-post="/users" hx-swap="innerHTML" hx-target="closest .target" type="submit">click</button>
</form>

{% endblock body %}
